<mat-card>
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-button-toggle-group name="difficulty" aria-label="Difficulty">
        <mat-button-toggle value="easy">Easy</mat-button-toggle>
        <mat-button-toggle value="medium">Medium</mat-button-toggle>
        <mat-button-toggle value="hard">Hard</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-flat-button color="accent" class="new">Generate</button>
        <button mat-flat-button color="primary" class="new">Analyze</button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
