mat-grid-tile {
  background: lightblue;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

mat-grid-list {
  margin-bottom: 1px;
}

mat-grid-tile.top {
  border-bottom-color: black;
}

mat-grid-tile.bottom {
  border-top-color: black;
}

mat-grid-tile.left {
  border-right-color: black;
}

mat-grid-tile.right {
  border-left-color: black;
}

.expand {
  width: 100%;
  height: 100%;
}

mat-grid-list.marking {
  width: 100%;
  height: 100%;
  padding-bottom: 0px !important;
}