<mat-grid-list
  [cols]="fields.length"
  rowHeight="1:1"
  *ngFor="let row of fields; let x = index"
>
  <div *ngFor="let col of row; let y = index">
    <mat-grid-tile
      *ngIf="markers[x][y].length === 0"
      [ngClass]="{
        bottom: x % sqrt === 0,
        right: y % sqrt === 0,
        top: x % sqrt === sqrt - 1,
        left: y % sqrt === sqrt - 1
      }"
    >
      <button class="expand" mat-button (click)="openDialog(x, y)">
        {{ fields[x][y] }}
      </button>
    </mat-grid-tile>
    <mat-grid-tile
      (click)="openDialog(x, y)"
      *ngIf="markers[x][y].length > 0"
      [ngClass]="{
        bottom: x % sqrt === 0,
        right: y % sqrt === 0,
        top: x % sqrt === sqrt - 1,
        left: y % sqrt === sqrt - 1
      }"
    >
      <mat-grid-list [cols]="sqrt" rowHeight="1:1" class="marking">
        <mat-grid-tile *ngFor="let int of posarr">
          <div *ngIf="markers[x][y].includes(int)">{{ int }}</div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
  </div>
</mat-grid-list>

<p></p>

<button mat-raised-button (click)="soleSudoku(fields, sqrt)">Solve Easy</button>
<button mat-raised-button (click)="initSolve()">Solve All</button>
<mat-slider
  class="example-margin"
  max="5"
  min="0"
  step="1"
  thumbLabel="true"
  [(ngModel)]="difficulty"
>
</mat-slider>
<button mat-raised-button (click)="generateSudoku(difficulty + 2)">
  Generate
</button>
<button mat-raised-button (click)="doInit()">
  Erase
</button>
<button mat-raised-button (click)="onClick()">
  Select Image
</button>
<button mat-raised-button (click)="executeAction()">
  Analyse Image
</button>

<input
  type="file"
  id="fileUpload"
  name="fileUpload"
  accept="{{ accept }}"
  style="display:none;"
/>
