<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sudomind</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="camera()" aria-label="camera icon">
      <mat-icon>camera</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()" aria-label="autorenew icon">
      <mat-icon>autorenew</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <!-- <app-clock></app-clock> -->
  <p></p>
  <router-outlet></router-outlet>
</mat-card>
