<mat-grid-list [cols]="size" rowHeight="1:1">
  <mat-grid-tile *ngFor="let col of data.fields; let i = index">
    <button
      *ngIf="!marked"
      mat-button
      [mat-dialog-close]="i + 1"
      [disabled]="getPossibility(i + 1)"
    >
      {{ i + 1 }}
    </button>
    <button
      *ngIf="marked"
      mat-stroked-button
      [color]="getMarked(i + 1) ? '' : 'primary'"
      (click)="mark(i + 1)"
    >
      {{ i + 1 }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="warn" [mat-dialog-close]="0">
      Erase
    </button>
  </mat-grid-tile>
  <mat-grid-tile> </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      [color]="marked ? 'primary' : 'accent'"
      (click)="marking()"
    >
      Mark
    </button>
  </mat-grid-tile>
</mat-grid-list>
